html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	color: #333;
	margin: auto;
	padding: auto;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


@media (max-width: 640px) {
	.r-table table {
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
	}
	.r-table thead{
		display: none;
	}
	.r-table td::before {
		content: attr(data-th);
		float: left;
		margin-right: 20px;
		color: black;
		font-weight: bold;
	}
	.r-table td {
		display: block;
		text-align: right;
	}
	.r-table td div{
		float: right;
	}
}